body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #004346;
background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
color:rgb(216, 236, 227);
font-size: 25px;
font-family:Chakra Petch ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Nav {

  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #09BC84;
  color: white;
  font-family: VT323-Regular;
  /* text-decoration: none; */

}
.Nav-list {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .bttn {
    width: "50px"
  }
  .New {
    border: 5px solid #51ba0b;
  }
  .Transactions{
    border: 5px solid #62d814;
  }
  